[MASTER]
init-hook='import sys; sys.path.append("/home/pafrank/anaconda3/envs/position-embedding/lib/")'
extension-pkg-whitelist=numpy
disable=C0114, # missing-module-docstring
				C0330, # bad-continuation
				C0326, # bad-whitespace
				W0105, # pointless-string-statement
[FORMAT]
indent-string=\t
[TYPECHECK]
generated-members=numpy.*